{% extends 'base.html' %}
{% block content %}
  <h2>Blog Posts</h2>
  <a href="{% url 'post-create' %}">Create New Post</a>
  <ul>
    {% for post in posts %}
      <li>
        <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a> -
        by {{ post.author.username }} on {{ post.published_date|date:"M d, Y" }}
        <p>{{ post.content|truncatechars:100 }}</p>
      </li>
    {% empty %}
      <li>No posts yet.</li>
    {% endfor %}
  </ul>
  {% if is_paginated %}
    <div>
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
